.login-container{
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;



}

.error-message{
    font-weight: 300;
    font-size: smaller;
    color: red;
  }
  
  /* .error-message {
    animation: fade-out 3s forwards;
    
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  } */
  
.login-wrapper{
    width: 20%;
    /* height: 60%; */
    padding: 20px;
    /* background-color: rgb(242, 242, 242); */
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: #ecedec;

background: #fff;
border-radius: 5px;
box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.login-wrapper .title{
  display: flex;
align-items: center;
justify-content: center;
padding: 5px;
}

.login-wrapper h3{
font-weight: 300;
text-transform: uppercase;
}

.login-container form{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.login-container .form-group{
padding: 20px;
/* background-color: antiquewhite; */
align-items: center;
    justify-content: center;
}

.login-container input{
    flex: 1;
    min-width: 50%;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 5;
}

.login-container button{
    width: 50%;
    border: none;
    padding: 10px 15px;
    background-color: rgb(185, 224, 203);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    
}

.login-container .login-btn{
padding: 15px;
margin: 15px;
margin-bottom: 20px;
}
.login-container .login-wrapper p{
font-size: smaller;
padding-top: 10px;
}

.login-container .link a{
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.login-container .login-wrapper p span{
    color: rgb(27, 88, 54);
    font-size: small;
    font-weight: 400;

}