.footer {
/* t r b l */
margin: 100px 0px 0px 0px; 
padding: 35px;
padding-top: 50px;
padding-bottom: 20px;
background-color: rgb(221, 234, 220);
}

.footer .top {
    display: flex;
    gap: 50px;
}
.footer .top .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    font-size: 14px;
}
 .logoImg {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.footer .top .item h1 {
    font-size: 18px;
    font-weight: 500;
    color: #555;
}
.footer .top .item span {
    color: gray;
}

.footer .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 50px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    color: gray;
}


/* .footer .bottom .left {
    display: flex;
    align-items: center;
} */
/* .footer .bottom .left .logo {
    color: #2879fe;
    font-weight: bold;
    font-size: 24px;
} */
/* .footer .bottom .left .copyright {
    margin-left: 20px;
    font-size: 12px;
    color: gray;
} */

.footer .top .icons{
padding-top: 4px;
}

.footer .top a{
    text-decoration: none;
    color:rgb(26, 86, 56);
    padding-right: 10px;
}
